extends ../layouts/main.pug

block append styles
  //- link(href="/css/product-list.css", rel="stylesheet")
  
block content
  nav(aria-label='breadcrumb')
    ol.breadcrumb
      li.breadcrumb-item.active(aria-current='page') #{path}
  .container-fluid
    h5 #{pageTitle}
      div.d-flex
        each book in products
          .card(style='width: 10rem;').text-center.m-3
            img(src=book.image alt='...').card-img-top
            .card-body
              h5.card-title #{book.title}
              p.card-text
                | #{book.description}
              a.btn.btn-primary(href='#') button